language: java
dist: trusty
sudo: false # faster builds

# safelist
branches:
  only:
  - master
  - dev

env:
  global:
    - DEV_BRANCH=dev
    - RELEASE_BRANCH=master
    - REPO=ebx/ebx-linkedin-sdk
    - NO_COLOUR='\033[0m'
    - RED_COLOUR='\033[0;31m'
    - GREEN_COLOUR='\033[0;32m'

before_script:
  - export SOURCE_BRANCH_NAME=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi) 
  - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import || echo "Failed to import GPG_SECRET_KEYS (probably because this branch is a PR)."
  - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust || echo "Failed to import GPG_OWNERTRUST (probably because this branch is a PR)."
  - source buildscripts/exportMVNVersionWithSnapshotIfNotARelease.sh
  - source buildscripts/validateBuild.sh

script:
  - source buildscripts/build.sh
  
after_failure:
  - cat target/surefire-reports/*.txt

## Prepare the release for Github
## Ensure we have a suitable git tag for the release based on the verison number
before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name "MarcFletcher"
  - git config --local user.email "marc@echobox.com"
  - export DEPLOY_TAG=v$MVN_VERSION
  - git tag $DEPLOY_TAG
  
## Create the release in Github
deploy:
  provider: releases
  api_key:
    secure: e0OTsANauMeZNsKkuuHc9uTpRZith0X1JmWkyE0DKYAN6NZmRUWrEhU5Op6R+HcRP984sBmY9q7EWjAd2ZfoMGQRovL82Ig/QaHEVkfRH5IZioP/3FnlcWgxf3esNE4pwCBQXp0VDKJh2r4tzoXkqe97K0ufvV8amY9JSUqdfsbiTjf9ywp+TFxVC6GLg2awAtrHIM3PLG2yQ3K/2iBpfdCTfOSMPudLOj2cdiOuil8NUWOqLMwDwfMCq7kccpiFRpZToP3AHbeH1Zguz5u1i1MUGaNcBhxcP6q//3NEMv76LQXxHopW8No9pQ+k3BPeyZfpPRScLfogNl8CZGiC0z1Sd1UPuzadCyRRBwH3XUTMDy2ajWvF5ka0xYk/gyRZF4CkdR7qC1Hj0nP4ANJwi5TDA8//KwT2/udUeh2xnH/5ehDRoDqo+RT4shMpObIMQGt1CQjyr4HC8s9wHyaWlkVkR91U1OylPkrg+oP3djpeUOJJfLgZ/iCNva+eiqpjZgBEkTLHutdoR58phxne3QcN+Hj1lbqzo2cnCJpcc4fvGkHmXMFfWi6nuRo4U1HZepfBuYAffZQQ7i4Lg+42H7M306XN/IfsU//IaSY+D+d5e9MdPuD2sbcCWV6b12wKz/ftsC08Rb/A1msVe6ejB9gN4Qdcm12Ai7C6PgGT9QU=
  file: 
    - target/ebx-linkedin-sdk-$MVN_VERSION.jar
    - target/ebx-linkedin-sdk-$MVN_VERSION-javadoc.jar
    - target/ebx-linkedin-sdk-$MVN_VERSION-sources.jar
  skip_cleanup: true
  on:
    repo: $REPO
    branch: $RELEASE_BRANCH
  name: v$MVN_VERSION
  
cache:
  directories:
    - ~/.m2/repository
